In [1]:
import numpy as np
import pandas as pd

In [4]:
email = 'elfridhasman@gmail.com'

In [5]:
email.split('@')

['elfridhasman', 'gmail.com']

In [7]:
names = pd.Series(['Elfrid','Hasman','Goris','Ary','5'])
names

0    Elfrid
1    Hasman
2     Goris
3       Ary
4         5
dtype: object

In [8]:
names.str.upper()

0    ELFRID
1    HASMAN
2     GORIS
3       ARY
4         5
dtype: object

In [9]:
names

0    Elfrid
1    Hasman
2     Goris
3       Ary
4         5
dtype: object

In [10]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [12]:
tech_finance = ['GOOG, APPL, AMZN','JPM,BAC,GS']
tech_finance

['GOOG, APPL, AMZN', 'JPM,BAC,GS']

In [13]:
len(tech_finance)

2

In [20]:
tickers = pd.Series(tech_finance)
tickers

0    GOOG, APPL, AMZN
1          JPM,BAC,GS
dtype: object

In [19]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [18]:
tickers.str.split(',',expand=True)

      0      1      2
0  GOOG   APPL   AMZN
1   JPM    BAC     GS

In [21]:
messy_names = pd.Series(['Andrew ','bo;bo',' clarie '])

In [22]:
messy_names

0     Andrew
1       bo;bo
2     clarie
dtype: object

In [23]:
messy_names[0]

'Andrew '

In [28]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Clarie
dtype: object

In [29]:
def cleanup(name):
    name = name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name

In [30]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Clarie
dtype: object