In [29]:
import numpy as np
import pandas as pd

TASK: Employee expenses are being stored in an pandas Series called expenses. What are Bob's expenses? You should use Pandas for this, don't just manually write in the number. The solution should be quite simple. Assign your answer to a variable called bob_expense. Please note, in order for the exercise to evaluate correctly, you must use the variable name bob_expense

In [30]:
expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})

In [31]:
bob_expense = expenses['Bob']
bob_expense

150

Pd.Series Part Two

In [32]:
q1 = {'Jepang':100,'China':200,'Indonesia':500,'India':900}
q2 = {'Malaysia':200,'China':400,'USA':500,'Indonesia':900}

In [33]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [40]:
sales_q2[0]

200

In [34]:
sales_q2['Malaysia']

200

In [35]:
sales_q1.keys()

Index(['Jepang', 'China', 'Indonesia', 'India'], dtype='object')

In [36]:
sales_q1 * 2

Jepang        200
China         400
Indonesia    1000
India        1800
dtype: int64

In [37]:
sales_q1 + sales_q2

China         600.0
India           NaN
Indonesia    1400.0
Jepang          NaN
Malaysia        NaN
USA             NaN
dtype: float64

In [42]:
first_half = sales_q1.add(sales_q2,fill_value=0)

In [41]:
sales_q1.dtype

dtype('int64')

In [44]:
first_half.dtype

dtype('float64')